h2 {
    color: #317825;
    font-size: 20px;
    padding: 30px;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: #861616;
    text-align: center;
}

p {
    color: #317825;
    font-size: 17px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}


.julekortDiv {
    background-color: #371212;
    border: 3px solid #317825;
    border-radius: 20px;
    margin: 0 auto;
    padding: 20px;
    width: 500px;
    height: 600px;
    
}

.button {
    padding: 40px;
}

